version: '3'

networks:
  symfony-network:

services:
  db:
    container_name: db
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: oSEwKtA2^iw%AV
      PGDATA: /var/lib/postgresql/data
    ports:
      - '5455:5432'
    networks:
      - symfony-network
  php:
    container_name: php
    build:
      context: ./docker/php
    ports:
      - '9000:9000'
    volumes:
      - ./:/app
    depends_on:
      - db
    networks:
      - symfony-network
  nginx:
    container_name: nginx
    image: nginx:stable-alpine
    ports:
      - '8080:80'
    volumes:
      - ./:/app
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - db
    networks:
      - symfony-network